:root {
    --ui-radius: 4px;
    --ui-container: 1400px;
    --ui-header-height: 54px;
    --ui-bottom-bar-height: 54px;
    --ui-viewport-height: calc(100dvh - var(--ui-header-height));
    --ui-container-height: calc(100dvh - var(--ui-header-height) - calc(var(--spacing) * 24));
}

body {
    background: var(--ui-bg) !important;
}

* {
    border-color: var(--ui-border);
}

:root {
    --ui-primary: var(--color-emerald-600);
    --ui-secondary: var(--color-emerald-800);
    --ui-success: var(--color-emerald-600);
    --ui-info: var(--color-cyan-600);
    --ui-warning: var(--color-orange-600);
    --ui-error: var(--color-rose-600);
    --ui-neutral: var(--color-stone-700)

    --ui-text-dimmed: var(--color-stone-400);
    --ui-text-muted: var(--color-stone-500);
    --ui-text-toned: var(--color-stone-600);
    --ui-text: var(--color-stone-700);
    --ui-text-highlighted: var(--color-stone-900);
    --ui-text-inverted: var(--color-white);

    --ui-bg: var(--color-white);
    --ui-bg-muted: var(--color-stone-50);
    --ui-bg-elevated: var(--color-stone-100);
    --ui-bg-accented: var(--color-stone-200);
    --ui-bg-inverted: var(--color-stone-900);
    --ui-border: var(--color-stone-200);
    --ui-border-accented: var(--color-stone-300);
    --ui-border-muted: var(--color-stone-200);

}

.dark {
    --ui-primary: var(--color-emerald-400);
    --ui-secondary: var(--color-emerald-800);
    --ui-success: var(--color-emerald-400);
    --ui-info: var(--color-cyan-400);
    --ui-warning: var(--color-orange-400);
    --ui-error: var(--color-rose-400);
    --ui-neutral: var(--color-stone-900);

    --ui-text-dimmed: var(--color-stone-500);
    --ui-text-muted: var(--color-stone-400);
    --ui-text-toned: var(--color-stone-300);
    --ui-text: var(--color-stone-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--color-stone-900);

    --ui-bg: var(--color-stone-900);
    --ui-bg-muted: var(--color-stone-800);
    --ui-bg-elevated: var(--color-stone-800);
    --ui-bg-accented: var(--color-stone-700);
    --ui-bg-inverted: var(--color-white);
    --ui-border: var(--color-stone-800);
    --ui-border-accented: var(--color-stone-700);
    --ui-border-muted: var(--color-stone-800);
}


* ::selection {
    color: var(--ui-text-inverted) !important;
    background-color: var(--ui-primary) !important;
}
::selection {
    color: var(--ui-text-inverted) !important;
    background-color: var(--ui-primary) !important;
}

body {
    --ui-bottom-bar-bottom: 0px;
}; body:has([role="dialog"]) {
    --ui-bottom-bar-bottom: calc(0px - var(--ui-bottom-bar-height));
}